html, body {
	height: 100%;
}
body {
	min-width: 365px;
	margin: 0;
	color: #D3D3D3;
	background-color: #141414;
	text-align: center;
	font-family: HelveticaNeue,Helvetica,sans-serif;
}
main {
	margin: 16px;
}
nav {
	background-color: #6441A4;
	padding: 16px;
}
h1 {
	margin: 8px;
	font-size: 32px;
	color: white;
	line-height: 100%;
}
h2 {
	margin: 8px auto;
}
button {
	min-width: 72px;
}
table {
	width:100%;
	max-width: 500px;
	line-height: 28px;
	border-collapse: collapse;
	text-align: center;
	table-layout: fixed;
}
table, th, td {
	border: 1px solid black;
}
th {
	background-color: #4B317B;
}
.center {
	text-align: center;
	margin: 0 auto;
}
.container {
	min-width: 265px;
	padding: 28px;
	margin: 16px auto;
	background-color: #1E1E1E;
	display: table;
}
.subtitle {
	margin: 4px;
}
#status {
	color: white;
	font-size: 12px;
	opacity: 0;
}
#keyword-picker span {
	width: 64px;
}
#count, #freq {
	margin: 20px auto;
	font-size: 20px;
}
#common-words-table img {
	margin: 0 auto;
	display: block;
}
